@page
@model ProiectMediiBun.Pages.Memberships.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].MembershipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].Data_Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].Data_Expirare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].MembershipCategories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MembershipD.Memberships) {
            string RandSelectat = "";
            if(item.ID==Model.MembershipID)
            {
                RandSelectat = "table-success";
            }
            <tr class="@RandSelectat">
            <td>
                @Html.DisplayFor(modelItem => item.MembershipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Expirare)
            </td>
            <td>
                @{
                    foreach(var category in item.MembershipCategories)
                    {
                            @category.Category.CategoryName <br />
                    }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
